body, html {
  height: 100%;
}



/* body {
    background-image: 
    url("D:\learnwebdevreact\krishi\Frontened\src\img\backgroundimage.jpg");
    min-height: 100%;
    max-width: 100%;
    background-size: cover;
  } */

  
  