
.e-card {
  background-color: rgb(238, 239, 239);
  padding-left: 20px;
  margin-bottom: 20px;
}

.e-card .e-card-header {
  font-family: cursive;
  font-style: italic;
}

.e-card .e-card-content {
  font-size: 20px;
  color: gray;
  line-height: initial;
  font-weight: normal;
}

.e-card .e-card-separator {
  padding-bottom: 30px;
}

.e-card .e-card-image {
  background-image: url("D:\learnwebdevreact\krishi\src\img\firstpro2.jpg");
  height: 160px;
}

.e-card .e-card-image .e-card-title {
  font-family: cursive;
  font-style: italic;
}

.e-card .e-card-header .e-card-header-image  {
  height: 48px;
  width: 48px;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title  {
  font-size: large;
  color: rgb(10, 11, 10);
}

.e-card .e-card-actions .e-card-btn  {
  padding-left: 20px;
  background-color: wheat;
}


.e-card .e-card-horizontal  {
  margin: auto;
  width: inherit;
}


.e-card .e-card-horizontal .e-card-stacked  {
  justify-content: flex-start;
  margin: initial;
}
